body {
    background-color: orange;
}


a {
    background-color: white;
}

a:hover {
    font-size: xx-large;
    background-color: black;
    color: white;
}

h1:hover {
    font-size: xx-large;
    background-color: rgb(160, 0, 0);
    color: white;
    text-transform: lowercase;
}

p:hover {
    font-size: xx-large;
    background-color: rgb(160, 0, 0);
    color: white;
    text-transform: lowercase;
}

.first:hover {
    font-size: xx-large;
    background-color: rgb(160, 0, 0);
    color: white;
}

#pcode:hover {
    font-size: xx-large;
    background-color: rgb(160, 0, 0);
    color: rgb(0, 0, 0);
}

.bilder {
    margin: 20px;
    padding: 20px;

}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}

*{
    margin: 10px;
}

